/* google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* --- Start Global Style --- */
body{
    font-family: "Quicksand", sans-serif;
    background: url("../img/bg-corgiCoffeelatte.png");
    background-size: cover;
    color: #333;

    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1, h2{
    font-family: "Changa One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #834d0c;
    margin-bottom: 20px;
}

h1{
    font-size: 4em;
}

p{
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;

    transition: all 0.3s ease;
}

.btn:active {
    transform: scale(0.98);
}   

.btn-primary {
    background: #edb774;
    color: #834d0c;
    border: 1px solid #edb774;
    box-shadow: 0 4px 14px rgba(0,0,0,0.15);
}

.btn-primary:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);

    transform: translateY(-2px);
}

/* start header */
header {
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.header-sec{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainLogo{
    height: 80px;     
    display: block;            
}

#mainLogo img{
    height: 100%;
}

.logo-animate {
  opacity: 0;
  transform: translateY(-40px);
  animation: slideUpFade 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

nav.top-nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
}

nav.top-nav a {
    text-decoration: none;
    color: #834d0c;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;

    transition: all 0.3s ease;
}

nav.top-nav a:hover {
    color: #edb774;

    transform: scale(1.02);
}

nav.top-nav ul li {
    opacity: 0;
    transform: translateY(-20px);
    animation: slideDownFade 0.5s ease forwards;
}

nav.top-nav ul li:nth-child(1) {
    animation-delay: 0.3s;
}

nav.top-nav ul li:nth-child(2) {
    animation-delay: 0.4s;
}

nav.top-nav ul li:nth-child(3) {
    animation-delay: 0.5s;
}

nav.top-nav ul li:nth-child(4) {
    animation-delay: 0.6s;
}

nav.top-nav ul li:nth-child(5) {
    animation-delay: 0.7s;
}
/* end header */

/* start hero */
.hero{
    display: flex;
    gap: 40px;
    min-height: 100vh;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: end;
}

.hero-top{
    text-align: center;
}

.hero-bottom {
    display: flex;
    justify-content: end;
}

.hero-bottom img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;

    transform: scale(0.95);
    animation: zoomIn 1s ease forwards;
    animation-delay: 0.3s;
}
/* end hero */

/* start socmed section */
.socmed-wrapper{
    position: absolute;
    z-index: 11;
    right: 10px;
    top: 50%;
    transform: translateY(-50%) translateX(20px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(237,183,116,0.2);
    /* background-color: rgba(131,77,12,0.2); */

    animation: fadeSlideIn 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
    animation-delay: 0.5s;
}

.socmed-wrapper a{
    display: block;
    width: 32px;
    color: #834d0c;

    transition: all 0.3s ease;
}

.socmed-wrapper a:hover{
    color: #edb774;

    transform: scale(1.2);
}
/* end socmed section */

/* start footer */
footer{
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    bottom: 0;
    text-align: center;
    background-color: rgba(255,255,255,0.2);
    font-size: 12px;
    color: #834d0c;
    font-weight: 500;
}
/* end footer */

/* init animation slide up */
.animate-up {
  opacity: 0;
  transform: translateY(40px);
  animation: slideUpFade 1s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

/* delay animate */
.animate-up.delay {
  animation-delay: 0.3s;
}

/* keyframes */
@keyframes slideUpFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}   

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
}

@keyframes zoomIn {
  to {
    transform: scale(1);
  }
}